<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    {% if page.title %}
    <title>{{ page.title }} &mdash; Ormmakal</title>
    {% else %}
    <title>Ormmakal</title>
    {% endif %}
    <meta name="author" content="Liji Jinaraj" />
    <meta name="keywords" content="blog, kerala, ormmakal, memories, nostalgia, mallu, malayalam" />
    <meta name="description" content="A blog for the nostalgic mallu" />
    <meta name="microid" content="84bdec7d4e9ce3a30448dd82eb0c469bd4bfe15c" />
    <meta name="google-site-verification" content="aSABt0RITO7YY8qFLH_EpQuxsZm4lGZMtlHlvgQCq80" />

    <link href="{{ site.feed }}" rel="alternate" title="Ormmakal" type="application/atom+xml" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-ico" />
    <link rel="stylesheet" href="/css/ormmakal.css" type="text/css" media="screen, projection" />

    <script type="text/javascript" src="http://use.typekit.com/jpd0pfm.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>
  <div id="container">
    <div id="header">
      <div id="logo">
        <a href="/"><img src="/img/logo.png" alt="" /></a>
      </div>
      <div id="searchbox">

      </div>
    </div> <!-- HEADER -->
    <div id="navigation">

    </div> <!-- NAVIGATION -->


